// override bootstrap defaults so that swagger-ui renders correctly

pre {

  margin: 0 0 0 5px;
  padding: 0px;
  background-color: #7d8492;
  border: 0px;
  font-size: 10px;
}

h2 {

  font-weight: bold;
}

h4 {

  font-weight: bold;
}

