<div>

    <div data-ng-if="!currentEditService">

        <!-- Section Header -->
        <df-section-header ng-if="adminApp" data-title="'Explore Services'"></df-section-header>

        <!-- Tool Bar -->
        <df-section-toolbar>
                <div class = "container-fluid">
                <div class = "row">
                    <div class="col-xs-3">
                        <label for="" class="input-sm">Service Group</label>
                        <select class="form-control input-sm" data-ng-model="selectedGroup.name" data-ng-options="name as name for (name, value) in serviceGroups" data-ng-disabled="apiData === null">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label for="" class="input-sm">Service Type</label>
                        <select class="form-control input-sm" data-ng-model="selectedType.name" data-ng-options="type.name as type.label for type in serviceGroups[selectedGroup.name]" data-ng-disabled="apiData === null">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label for="" class="input-sm">&nbsp;</label>
                        <input type="text" data-ng-model="searchText.value" class="form-control input-sm" placeholder="Search name, label, description">
                    </div>
                    <div class="col-xs-3">
                        <div>
                            <div>
                                <label for="" style="padding:3px">&nbsp;</label>
                            </div>
                            <a class="btn btn-small btn-primary" data-ng-click="downloadAllServiceDef()">
                                <i class="fa fa-download"></i> Download Full System Doc
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </df-section-toolbar>

        <div data-ng-show="filteredServices.length === 0">
            <df-empty-search-result></df-empty-search-result>
        </div>

        <div data-ng-show="filteredServices.length > 0">
            <div>
                <div>
                    <table class="table table-responsive table-bordered table-striped table-hover table-condensed">
                        <thead>
                        <th data-ng-class="order.orderBy === field.name ? 'df-th-selected' : ''"
                            data-ng-click="orderOnSelect(field)"
                            data-ng-repeat="field in fields">

                            <span class="df-th-text" style="white-space: nowrap">{{field.label}}
                                <i style="margin-left: 5px;" data-ng-if="order.orderBy === field.name"
                                   class="fa"
                                   data-ng-class="order.orderBy === field.name && order.orderByReverse ? 'fa-caret-down' : 'fa-caret-up'"></i>
                            </span>
                        </th>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="obj in filteredServices | orderObjectBy:order.orderBy:order.orderByReverse" class="repeated-item" class="repeated-item" data-ng-class="obj.__dfUI.selected ? 'danger' : ''">
                            <td id="services_table_row_{{$index}}_{{obj.record.id}}"  data-ng-click="editService(obj.record)" data-ng-repeat="value in obj.record | orderAndShowValue : fields track by $index">{{value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Service -->
    <div data-ng-if="currentEditService">
        <df-service-details></df-service-details>
    </div>

</div>
